<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uva-library-hours demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../polymer/lib/elements/dom-bind.html">
    <link rel="import" href="../../polymer/lib/elements/dom-repeat.html">
    <link rel="import" href="../uva-library-hours.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">

      <h3>Basic uva-library-hours</h3>
      <demo-snippet>
        <template>

          <dom-bind>
            <template>
              <uva-library-hours last-response="{{response}}"></uva-library-hours>
              <ul>
                <!--
                <dom-repeat items="[[response]]">
                  <template>
                    <li>[[item.title]]</li>
                  </template>
                </dom-repeat>
              -->
              </ul>
            </template>
          </dom-bind>

        </template>
      </demo-snippet>

    </div>
  </body>
</html>
