<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-page demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../uvalib-exhibitspage.html">

    <custom-style>
      <style is="custom-style" include="uvalib-theme demo-pages-shared-styles iron-flex iron-flex-alignment">
      .centered { max-width: 100%; }
      </style>
    </custom-style>

  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic exhibits-page demo</h3>
      <demo-snippet>
        <template>
          <uvalib-exhibitspage></uvalib-exhibitspage>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
