<html lang="en">

<head>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../uvalib-majorexhibitpage.html">

  <title>The UVA Health System: 200 years of Research, Learning, and Care</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="The UVA Health System: 200 years of Research, Learning, and Care">
  <meta property="og:site_name" content="UVA Library">
  <meta property="og:url" content="https://library.virginia.edu&#x2F;exhibits&#x2F;UVAhealth200&#x2F;">
  <meta property="article:publisher" content="https://library.virginia.edu/">
  <meta name="twitter:url" content="https://library.virginia.edu&#x2F;exhibits&#x2F;UVAhealth200&#x2F;">
  <meta name="twitter:title" content="The UVA Health System: 200 years of Research, Learning, and Care">
  <meta name="twitter:site" content="@uvalibrary">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "mainEntityOfPage": "https://library.virginia.edu&#x2F;exhibits&#x2F;UVAhealth200&#x2F;",
      "headline": "The UVA Health System: 200 years of Research, Learning, and Care",
      "publisher": {
        "@type": "Organization",
        "name": "UVA Library",
        "logo": {
          "@type": "ImageObject",
          "url": "https://library.virginia.edu/images/icon-192.png",
          "width": "192",
          "height": "192"
        }
      }
    }
  </script>
</head>

<body>
  <div class="content">
    <uvalib-majorexhibitpage library-id="8f56e983-d496-430d-a847-5ca7416ae4ff" exhibit-slug="UVAhealth200">
      <figure slot="main-image" role="group" class="caption caption-img align-null">
        <img src="https://drupal.lib.virginia.edu/sites/default/files/2018-06/graphic-identity.jpg" alt="""" width="600" height="521" />
      </figure>
      <h1 slot="header-title">The UVA Health System: 200 years of Research, Learning, and Care</h1>
      <p slot="header-supporting-text">A Bicentennial exhibition celebrating the history of health care at the University</p>
      <div slot="date-range">2018-07-23&nbsp;&ndash;&nbsp;2019-01-04</div>
      <div slot="location">Main Gallery</div>
      <div slot="book-tour-language">
        <h2>Book a tour</h2>
        <p>
          Please complete the form below to request a guided tour. To request a UVA class tour,
          please submit a <a href="http://small.library.virginia.edu/services/instruction/" aria-label="use our class tour request form to submit a U V A class tour">class tour</a> request.
        </p>
      </div>
      <div slot="overview"><h2>The Exhibition</h2>
<img alt="Six men and two women, all in white, are gathered around a patient on a gurney. They are wearing surgery scrubs and are surrounded by steep bleacher seating intended for students." data-align="right" data-caption="&lt;em&gt;Pictured: Surgical Amphitheater in the UVA Hospital, 1913. &lt;/em&gt;&lt;br /&gt;
When it opened in 1901, the UVA Hospital contained a single operating room. This surgical amphitheater was constructed with a raised gallery, from which students and faculty could observe surgical procedures." data-entity-type="file" data-entity-uuid="500b7bec-baef-4cdd-8bb1-f55561d7123c" src="/files/inline-images/TL4-4-000007137_0004.jpg">
<p>The Health System occupies a unique place at the University of Virginia. Closely intertwined with UVA academics on Grounds through the teaching missions of the Schools of Medicine and Nursing, it also branches out across central Virginia in the form of satellite offices, clinics, and other health care resources. Reflecting this broad scope, this Bicentennial exhibition brings together the diverse stories of health care providers, medical and nursing students, faculty, and community members. View historical materials from the Claude Moore Health Sciences Library and the Eleanor Crowder Bjoring Center for Nursing Historical Inquiry and learn more about the story of scientific accomplishments, advances in public health, social transformation, and technological evolution that has unfolded over the last 200 years at UVA.</p>

<h3>Visitor Policy</h3>

<p>To enhance the experience of all guests and to protect our collections on display, please note the following policies:&#xA0;</p>

<ul>
	<li>No food or drinks allowed in the Main Gallery, the Flowerdew Hundred Gallery, or the Declaring Independence Gallery&#xA0;</li>
	<li>Photography is permitted for personal, noncommercial use only. Flash photography, tripods, and other photographic equipment, including selfie-sticks, are not permitted in any exhibition gallery.</li>
	<li>Low light levels in the exhibition galleries protect the unique materials on display from fading and discoloration. Light damage is both cumulative and permanent, and we strive to balance an enjoyable experience for our visitors with conditions that allow us to preserve our collections for generations.</li>
</ul>

<p>Please note: large print versions of exhibition text are available in each gallery. We appreciate your participation in the care of our collections and hope you enjoy your visit.</p>
</div>
    </uvalib-majorexhibitpage>
  </div>
<script>
</script>
</body>

</html>
