<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./uva-library.html">
<link rel="import" href="../uva-helper-libs/moment-timezone.html">

<dom-module id="uva-library-hours">
  <template>

  </template>
  <script>


    /**
     * `uva-library-hours`
     * Binds to the UVA Library Hours API and offeres some helper functionality
     *
     * @customElement
     * @polymer
     * @demo demo/library-hours.html
     */
    class UvaLibraryHours extends UvaLibrary {
      static get is() { return 'uva-library-hours'; }
      static get properties() {
        return Object.assign(super.properties,
          {
            path: {
              type: String,
              value: "hours"
            },
            // Date to start range when reporting hours to `times`, defaults to today
            start: {
              type: Object,
              value: function(){ return moment(); },
              observer: '_mkTimes'
            },
            // Date to end range when reporting hours to `times`, defaults to today
            end: {
              type: Object,
              value: function(){ return moment(); },
              observer: '_mkTimes'
            },
            times: {
              type: Object,
              notify: true
            }
          });
      }
      static get observers() {
        return [
          // Observer method name, followed by a list of dependencies, in parenthesis
          '_mkTimes(lastResponse,start,end)'
        ]
      }
      //Concat the this elements template with the parents
      static get template() {
        var parentTemplate = UvaLibrary.template.cloneNode(true);
        var childTemplate = Polymer.DomModule.import('uva-library-hours', 'template');
        parentTemplate.content.insertBefore(childTemplate.content,null);
        return parentTemplate;
      }
      _mkTimes(){
        if (this.lastResponse) {
          this._debouncer = Polymer.Debouncer.debounce(this._debouncer,
              Polymer.Async.timeOut.after(50),
              function() {
                var times = {};
                var start = this.start.tz('America/New_York').format('YYYY-MM-DD');
                var end = this.end.tz('America/New_York').format('YYYY-MM-DD');
                for (var libid in this.lastResponse) {
                  times[libid] = {};
                  for (var date in this.lastResponse[libid]) {
                    if (start <= date && end >= date) {
                      times[libid][date]=this.lastResponse[libid][date];
                    }
                  }
                }
                this.times = times;
              }.bind(this) );
        }
      }
      isOpenNow(calID){
        if (this.times && this.times[calID])
          return true;
        else {
          return false;
        }
      }
      getHoursRange(calID){
        var valuesPolyfill = function(obj) {
          var res = [];
          for (var i in obj) {
              if (obj.hasOwnProperty(i)) {
                  res.push(obj[i]);
              }
          }
          return res;
        }

        var values = Object.values || valuesPolyfill;

        var range = (this.times && this.times[calID])?
            values(this.times[calID])[0].rendered:
            null;
        return range;
      }
    }

    window.customElements.define(UvaLibraryHours.is, UvaLibraryHours);
  </script>
</dom-module>
