<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-exhibit-ui test</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../uvalib-exhibit-ui.html">
  </head>
  <body>

    <test-fixture id="BasicTestFixture">
      <template>
        <uvalib-exhibit-ui></uvalib-exhibit-ui>
      </template>
    </test-fixture>

    <test-fixture id="ChangedPropertyTestFixture">
      <template>
        <uvalib-exhibit-ui category="upcoming"></uvalib-exhibit-ui>
      </template>
    </test-fixture>

    <script>
      suite('uvalib-exhibit-ui', () => {

        test('instantiating the element with default properties works', () => {
          const element = fixture('BasicTestFixture');
          assert.equal(element.constructor.is, 'uvalib-exhibit-ui');
        });

        test('setting a property on the element works', () => {
          // Create a test fixture
          const element = fixture('ChangedPropertyTestFixture');
          assert.equal(element.category, 'upcoming');
        });

      });
      // No user interface so not adding a11ySuite tests;
    </script>

  </body>
</html>
