<!doctype html>

<html lang="en">
  <head>
    <title>uvalib-skip-nav test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../uvalib-skip-nav.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <uvalib-skip-nav></uvalib-skip-nav>
      </template>
    </test-fixture>

    <script>
      suite('uvalib-skip-nav', function() {

        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.constructor.is, 'uvalib-skip-nav');
        });

        a11ySuite('basic');

      });
    </script>
  </body>
</html>
