<!doctype html>

<html>
  <head>
    <title>uvalib-app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../webcomponentsjs/webcomponents-lite.js"></script>
  </head>
  <body>
    <h1>Library Web Components</h1>
    <ul>
      <li>
        <a href="https://uvalib-components.github.io/uvalib-alerts/components/uvalib-alerts/#/elements/uvalib-alerts">uvalib-alerts</a>
        (<a href="https://uvalib-components.github.io/uvalib-alerts/components/uvalib-alerts/demo/index.html">demo</a>)
        <p>
          This component binds to the Library Alerts feed and provides the UI for viewing Library Alerts on the Library web site.
        </p>
      </li>
      <li>
        <a href="https://uvalib-components.github.io/uvalib-analytics/components/uvalib-analytics/#/elements/uvalib-analytics">uvalib-analytics</a>
        (<a href="https://uvalib-components.github.io/uvalib-analytics/components/uvalib-analytics/demo/index.html">demo</a>)
        <p>
          This component setsup web tracking for your site given a site id.  It is helpful in tracking the state of single page apps and also helps track events.
        </p>
      </li>
      <li>
        <a href="https://uvalib-components.github.io/uvalib-card/components/uvalib-card/#/elements/uvalib-card">uvalib-card</a>
        (<a href="https://uvalib-components.github.io/uvalib-card/components/uvalib-card/demo/index.html">demo</a>)
        <p>
          This component creates paper-cards that are bound to the Library Resource Card API.
        </p>
      </li>
      <li>
        <a href="https://uvalib-components.github.io/uvalib-footer/components/uvalib-footer/#/elements/uvalib-footer">uvalib-footer</a>
        (<a href="https://uvalib-components.github.io/uvalib-footer/components/uvalib-footer/demo/index.html">demo</a>)
        <p>
          This component sets up the Library's standard footer with a custom bottom bar option.
        </p>
      </li>
      <li>
        <a href="https://uvalib-components.github.io/uvalib-header/components/uvalib-header/#/elements/UvalibHeader">uvalib-header</a>
        (<a href="https://uvalib-components.github.io/uvalib-header/components/uvalib-header/demo/index.html">demo</a>)
        <p>
          This component sets up the Library's standard header.
        </p>
      </li>
      <li>
        <a href="https://uvalib-components.github.io/uvalib-liame/components/uvalib-liame/#/elements/uvalib-liame">uvalib-liame</a>
        (<a href="https://uvalib-components.github.io/uvalib-liame/components/uvalib-liame/demo/index.html">demo</a>)
        <p>
          This component is an email obfuscator. It has a number of options but basicaly takes a string which it will reverse and then concatenate @virginia.edu to make a link.
          It hides the email from spam bots with the hope that most are fairly simple and don't go to extraordinary lengths.
        </p>
      </li>
      <li>
        <a href="https://uvalib-components.github.io/uvalib-logos/components/uvalib-logos/#/elements/uvalib-logos">uvalib-logos</a>
        (<a href="https://uvalib-components.github.io/uvalib-logos/components/uvalib-logos/demo/">demo</a>)
        <p>
          This component provides a UVA Library logo in all of it's optional layouts/styles.
        </p>
      </li>
      
    </ul>
  </body>
</html>
