<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-directory demo</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../uvalib-teams.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      .centered { max-width: 100%; }
      </style>
    </custom-style>

  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic uvalib-teams demo</h3>
      <demo-snippet>
        <template>
          <uvalib-teams area="54415370-1aa2-4eb3-8c69-bf3133e0cc57"></uvalib-teams>
        </template>
      </demo-snippet>
      <demo-snippet>
        <template>
          <uvalib-teams></uvalib-teams>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
