<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>uvalib-ils-form demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../uvalib-ils-form.html">
  </head>
  <body>
    <uvalib-ils-form>ILS Request Sign In</uvalib-ils-form>
    <br /><br />
    <uvalib-ils-form type="ill-login">Log in for Interlibrary Loan</uvalib-ils-form>
  </body>
</html>
