<link rel="import" href="uvalib-account-auth.html">
<link rel="import" href="../uva-helper-libs/lil-uuid.html">
<link rel="import" href="../polymerfire/firebase-document.html">
<link rel="import" href="../app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<dom-module id="uvalib-account-user">
  <template>
      <firebase-document id="doc" path="[[_createPath(user)]]" data="{{_userData}}"></firebase-document>
      <app-indexeddb-mirror key="lib-user-data" data="{{_userData}}" persisted-data="{{userData}}"></app-indexeddb-mirror>
      <firebase-document id="libReq" path="[[_createRequestPath(_requestUuid)]]" data="{{_requestDetails}}"></firebase-document>
      <firebase-document id="libReqPatronCopy" path="[[_createUserRequestPath(_requestUuid,user)]]" data="{{_requestDetails}}"></firebase-document>
      <app-indexeddb-mirror key="lib-user-request-data" data="{{_requestDetails}}" persisted-data="{{requestDetails}}"></app-indexeddb-mirror>
  </template>

  <script>
    /**
     * `uvalib-account-user`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/auth-user-info.html
     * @demo demo/auth-user-props.html
     */
    class UvalibAccountUser extends UvalibAccountAuth {
      static get is() { return 'uvalib-account-user'; }
      static get properties() {
        return Object.assign(super.properties,{
          _userData: Object,
          userData: {
            type: Object,
            notify: true,
            value: function(){return {};}
          },
          _requestDetails: Object,
          requestDetails: {
            type: Object,
            notify: true,
            value: function(){return {};}
          },
          libStaff: {
            type: Boolean,
            notify: true,
            computed: '_isStaff(userData)'
          },
          /**
           * Contact information needed by request forms:
           * computingID, name, email, affiliation, and department/school
           */
          contactInfo: {
            type: Object,
            notify: true,
            computed: '_getContactInfo(userData)'
          },
          _requestUuid: {
            type: String
          }
        });
      }
      //Concat the this elements template with the parents
      static get template() {
        var parentTemplate = UvalibAccountAuth.template.cloneNode(true);
        var childTemplate = Polymer.DomModule.import('uvalib-account-user', 'template');
        parentTemplate.content.insertBefore(childTemplate.content,null);
        return parentTemplate;
      }
      _createPath(user){
        if (user)
          return "/users/"+user.uid;
        else {
          return null;
        }
      }
      _createRequestPath(_requestUuid){
        if (_requestUuid != '')
          return "/requests/"+_requestUuid;
        else {
          return null;
        }
      }
      _createUserRequestPath(_requestUuid,user){
        if (user && _requestUuid != '') {
          return "/users/"+user.uid+"/requests/"+_requestUuid;
        } else {
          return null;
        }
      }
      _isStaff(userData){
        if (userData && userData.LDAP && userData.LDAP.uvaDisplayDepartment)
          return (userData.LDAP.uvaDisplayDepartment === "University of Virginia Library"
                  || userData.LDAP.uvaDisplayDepartment.toLowerCase().includes("univ librarian")
                  || userData.LDAP.uvaDisplayDepartment.toLowerCase().includes("lb-"));
      }
      _getContactInfo(userData){
        var contactInfo = {computing_id: '', name: '', email: '', phone: '', affiliation: '', department_school: ''};
        if (userData && userData.LDAP) {
          var prefName, prefEmail, status, deptSchool;
          contactInfo.computing_id = this.userData.LDAP.uid;
          contactInfo.name = userData.LDAP.givenName + ' ' + userData.LDAP.sn;
          contactInfo.email = (userData.LDAP.preferredemailaddress) ? userData.LDAP.preferredemailaddress : userData.LDAP.mail;
          if (userData.LDAP.edupersonprimaryaffiliation) {
            contactInfo.affiliation = userData.LDAP.edupersonprimaryaffiliation
          } else if (userData.LDAP.uvaPersonIAMAffiliation) {
            contactInfo.affiliation = userData.LDAP.uvaPersonIAMAffiliation[0];
          } else {
            contactInfo.affiliation = userData.LDAP.edupersonaffiliation[0];
          }
          if (contactInfo.affiliation.includes('student')) {
            if (userData.LDAP.uvaRegistrarSchool) {
              contactInfo.department_school = userData.LDAP.uvaRegistrarSchool;
            } else if (userData.LDAP.uvaDisplayDepartment) {
              contactInfo.department_school = userData.LDAP.uvaDisplayDepartment;
            } else if (userData.LDAP.uvaOracleDeptName) {
              contactInfo.department_school = userData.LDAP.uvaOracleDeptName;
            }
            contactInfo.phone = (userData.LDAP.mobile) ? userData.LDAP.mobile : '';
          } else {
            if (userData.LDAP.uvaDisplayDepartment) {
              contactInfo.department_school = userData.LDAP.uvaDisplayDepartment;
            } else if (userData.LDAP.uvaOracleDeptName) {
              contactInfo.department_school = userData.LDAP.uvaOracleDeptName;
            }
            if (userData.LDAP.telephoneNumber) {
              contactInfo.phone = userData.LDAP.telephoneNumber;
            } else if (userData.LDAP.mobile) {
              contactInfo.phone = userData.LDAP.mobile;
            }
          }
        }
        return contactInfo;
      }
      saveRequest(formSubmission) {
        this._requestUuid = lil.uuid();
        this._requestDetails = {
          "uid": (this.user && this.user.uid) ? this.user.uid : null,
          "timestamp": {".sv": "timestamp"},
          "submission": JSON.stringify(formSubmission)
        };
      }
    }

    window.customElements.define(UvalibAccountUser.is, UvalibAccountUser);
  </script>
</dom-module>
