<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-page test</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../uvalib-aboutpage.html">
  </head>
  <body>

    <test-fixture id="ComplexPage">
      <template>
        <uvalib-aboutpage></uvalib-aboutpage>
      </template>
    </test-fixture>

    <script>
      suite('uvalib-aboutpage', () => {

        test('instantiating the page works', () => {
          const element = fixture('ComplexPage');
          assert.equal(element.constructor.is, 'uvalib-aboutpage');
        });

        a11ySuite('ComplexPage');
      });
    </script>

  </body>
</html>
