<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-banners demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../polymer/lib/elements/dom-bind.html">
    <link rel="import" href="../../iron-media-query/iron-media-query.html">
    <link rel="import" href="../uvalib-image-header.html">
    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">

      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic uvalib-banners demo</h3>
      <demo-snippet>
        <template>
          <uvalib-image-header>
            <h1 slot="header-title">Foo</h1>
            <p slot="header-description">Bar</p>
          </uvalib-image-header>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
