<!doctype html>
<html lang="en">
  <head>
    <title>uvalib-theme demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../iron-image/iron-image.html">

    <link rel="import" href="../uvalib-theme.html">
    <link rel="import" href="../uvalib-icons.html">
    <link rel="import" href="../uvalib-page-style.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles uvalib-theme uvalib-page-style">
      </style>
    </custom-style>
  </head>
  <body>

    <div class="vertical-section-container centered" style="max-width: 800px">
      <h1>Page Helper Patterns</h1>
      <h3>Full screen width shaded background</h3>
      <demo-snippet>
        <template>
          <div class="shady">
            <h1>FooBar</h1>
          </div>
        </template>
      </demo-snippet>

      <h3>Round Images</h3>
      <demo-snippet>
        <template>
          <iron-image class="round" src="https://wwwstatic.lib.virginia.edu/files/2017-05/jmu2m_0.jpg"></iron-image>
        </template>
      </demo-snippet>

      <h3>Big first letter</h3>
      <demo-snippet>
        <template>
          <p class="bigFirstLetter">Lorem ipsum dolor sit amet, eos petentium deterruisset at, mei ea augue praesent delicatissimi. Doming aeterno fuisset ea mel, ad usu eros fierent, errem ubique argumentum ne mel. Sit malis assueverit in. Te per nisl nominavi liberavisse. Vim doctus dolorem te, solet feugiat comprehensam ex eos, falli laudem neglegentur in eam. An ius quodsi corrumpit, cu justo novum fabellas usu, vocibus delectus ei vix. Lorem ipsum dolor sit amet, eos petentium deterruisset at, mei ea augue praesent delicatissimi.</p>
          <p>Doming aeterno fuisset ea mel, ad usu eros fierent, errem ubique argumentum ne mel. Sit malis assueverit in. Te per nisl nominavi liberavisse. Vim doctus dolorem te, solet feugiat comprehensam ex eos, falli laudem neglegentur in eam. An ius quodsi corrumpit, cu justo novum fabellas usu, vocibus delectus ei vix.</p>
        </template>
      </demo-snippet>

    </div>

  </body>
</html>
