<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../uvalib-theme/uvalib-icons.html">
<link rel="import" href="../uvalib-theme/uvalib-fonts.html">

<custom-style>
  <style is="custom-style" include="uvalib-fonts">
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .illiadButton {
      color: #FFF;
      padding: 12px;
      background-color: #E57200;
      border-radius: .5em;
      font-size: 18px;
      border-color: #c16000;
      cursor: pointer;
    }

    .illiadButton:hover {
      background-color: #FFA852;
      border-color: #FD8000;
      color: #454545;
    }

  </style>
</custom-style>
