<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../uva-theme/uva-theme.html">
<link rel="import" href="color.html">
<link rel="import" href="uvalib-theme.html">

<custom-style>
  <style is="custom-style">

    :root {

      --font-display1: {
        font-family: var(--font-primary);
        font-size: 340px;
        font-weight: 400;
        line-height: 40px;
        color: var(--color-text-dark-secondary);
        text-transform: none;
      };

    }

  </style>
</custom-style>
