<link rel="import" href="../polymer/polymer.html">

<custom-style>
  <style is="custom-style">
    html {
      /* primary color palette */
      --color-primary-orange: #e57200;
      --color-rotunda-orange: var(--color-primary-orange);
      --color-primary-blue: #232d4b;
      --color-jefferson-blue: var(--color-primary-blue);
      --color-white: #ffffff;
      /* secondary color palette */
      --color-secondary-orange: #eb5f0c;
      --color-secondary-blue: #141e3c;
      --color-light-gray: #f1f1ef;
      --color-medium-gray: #dadada;
      --color-text-gray: #666666;
      --color-emergency-red: #df1e43;
    }
  </style>
</custom-style>
