<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="color.html">
<link rel="import" href="uva-styles.html">

<custom-style>
  <style is="custom-style">

    html {
      --font-primary: 'franklin-gothic-urw',arial,sans-serif;
      --font-primary-condensed: 'franklin-gothic-urw-cond','arial narrow',sans-serif;
      --font-primary-compressed: 'franklin-gothic-urw-comp','arial narrow',sans-serif;
      --font-primary-extra-compressed: 'franklin-gothic-ext-comp-urw','arial narrow',sans-serif;
      --font-secondary: 'bodoni-urw',georgia,serif;
      --font-weight-book: 400;
      --font-weight-medium: 500;
      --font-weight-demi: 700;
      --font-weight-heavy: 900;
    }

  </style>
</custom-style>
